/* styles.css */
/* 
.slide-container {
  position: relative;
  max-width: 700px; 
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
}

.slide-container img {
  width: 100%;
  height: auto;
  border-radius: 10px; 
}

.slide-container h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  color: #fff; 
  background-color: rgba(0, 0, 0, 0.6); 
  margin: 0;
  margin-bottom: 10px;
}

.slide-container:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}
 */
/* styles.css */

/* styles.css */
/* styles.css */

.slide-container {
  position: relative;
  max-width: 700px;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  transform: translate3d(5px, 5px, 5px); /* Trigger hardware acceleration for smoother animations */
}

.slide-container:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.slide-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  opacity: 0;
  animation: fadeIn 5s ease-in-out forwards, zoomIn 1.8s ease-in-out forwards;
  transition: transform 0.5s ease-in-out; /* Add transition for a smooth hover effect */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

.slide-container:hover img {
  transform: scale(1.02) translate3d(-5px, -5px, -5px); /* Add a slight upward translation on hover */
}

.slide-container h2 {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;
  margin-bottom: 10px;
  animation: slideUp 0.8s ease-in-out forwards, fadeIn 0.8s ease-in-out forwards;
}

@keyframes slideUp {
  from {
    bottom: -50px;
  }
  to {
    bottom: 0;
  }
}
